/*
 * <1Devs dot="com" department="Mobile" />
 *
 * 1Mobs.com - 1Devs Mobile Department.
 *
 * Ahd Mobile WebApp Content Style
 *
 */

@charset "UTF-8";

/* content ---- */
div.content *:lang(ar),
div.content *:lang(fa) {
	font-family:'ArabicTypesettingRegular';
}

div.content ul {
	list-style-type:none;
}

div.content > ul {
	margin-top:35px;
}

div.content li ul {
	
}

div.content li {
	color:#321;
}

div.content > ul > li {
	
}

div.content li li {
	text-align:center;
	text-shadow:1px 1px 5px #eea;
	line-height: 150%;
}

div.content li li:lang(ar) {
	font-size:30px;
}

div.content li li:lang(fa) {
	font-size: 22px;
	margin-bottom: 25px;
}

div.content li:first-child li:lang(ar){
	font-size:32px;
}
div.content li:first-child li:lang(fa){
	font-size: 25px;
	padding-bottom:12px;
}
/* ---- content */
