/*
 * <1Devs dot="com" department="Mobile" />
 *
 * 1Mobs.com - 1Devs Mobile Department.
 *
 * Ahd Mobile WebApp Template
 *
 */

@charset "UTF-8";

/* global section ---- */
* {
	-webkit-transition:all 700ms ease-in-out;
}

body {
	background-color:#53534C;
}

.preload div.container {
	opacity:0.3;
	-webkit-transform:scale(0, 0); /* Dont remove this fucked ruls */
}

div.container {
	direction:rtl;
}

.preload div.fixheader {
	top:-50px;
	opacity:0.3;
}

.preload div.fixfooter {
	bottom:-50px;
	opacity:00.3;
}

div.fixheader {
	height:50px;
	background-image:url('images/header.png');
}

div.fixfooter {
	bottom:110px;
	height:50px;
	background-image:url('images/footer.png');
}

div.fixbtmenu{
	height:110px;
	background-image:url('images/menu_btm_back.jpg');
}

div.fixblackscr {
	opacity:0.5;
	background-color:#100A05;
}

/* ---- global section */


/* content ---- */
div.btn{
	background-image:url(images/btns.png);
	background-repeat:no-repeat;
	height:75px;
	margin-top:18px;
	float:left;
}

div.btn.about{
	background-position:-195px 0;
	width:40px;
	margin-left:20px;
}

div.btn.back{
	background-position:-75px 0;
	width:60px;
}

div.btn.play{
	background-position:0 0;
	width:75px;
	margin-left:2px;
}

div.btn.next{
	background-position:-135px 0;
	width:60px;
	margin-left:2px;
}

div.btnscebter{
	width:200px;
	margin:0 auto;
}
/* ---- content */


/* content ---- */
.preload div.content {
	opacity:0;
}

div.content {
	min-height:800px;
	padding:50px 35px 50px 35px;
	-webkit-transition-duration:1400ms;
	background-image:url('images/background.jpg');
	background-size:auto;
	background-repeat:repeat-y;
}

div.title {
	width:414px;
	height:70px;
	margin:0 auto;
	background-image:url('images/title.jpg');
}

/* ---- content */
