/*
 * <1Devs dot="com" department="Mobile" />
 *
 * 1Mobs.com - 1Devs Mobile Department.
 *
 * Ahd Mobile WebApp Template
 *
 */

@charset "UTF-8";

/* global section ---- */
* {
	-webkit-transition:all 700ms ease-in-out;
}

body {
	background-color:black;
}

.preload div.container {
	-webkit-transform:scale(0, 0);
	-webkit-transition-duration:300;
}

div.container {
	background-color:#eee9d3;
	direction:rtl;
}

.preload div.fixheader {
	top:-100%;
	opacity:0;
}

.preload div.fixfooter {
	bottom:-100%;
	opacity:0;
}

div.fixheader {
	height:50px;
	opacity:0.95;
	background-image:url('images/header.png');
}

div.fixfooter {
	height:50px;
	opacity:0.95;
	background-image:url('images/footer.png');
}

/* ---- global section */

/* content ---- */
.preload div.content {
	-webkit-transform:translateY(600px);
	opacity:0;
}

div.content {
	padding:50px 35px 50px 35px;
	-webkit-transition-duration:1400ms;
	background-image:url('images/bg.jpg');
	background-size:auto;
	background-repeat:repeat-y;
}

div.title {
	width:414px;
	height:70px;
	margin:0 auto;
	background-image:url('images/title.jpg');
}

/* ---- content */
