/*
 * <1Devs dot="com" department="Mobile" />
 *
 * 1Mobs.com - 1Devs Mobile Department.
 *
 * Ahd Mobile WebApp Fonts
 *
 */

@charset "UTF-8";

@font-face {
  font-family: 'Arabic Typesetting';
  font-style: normal;
  font-weight: 400;
  src: url('arabic-typesetting.ttf') format('truetype');
}

@font-face {
  font-family: 'Quran Taha';
  font-style: normal;
  font-weight: 400;
  src: url('arabic-typesetting.ttf') format('truetype');
}