/*
 * <1Devs dot="com" department="Mobile" />
 *
 * 1Mobs.com - 1Devs Mobile Department.
 *
 * Ahd Mobile WebApp Master Layout
 *
 */
 
@charset "UTF-8";

/* global resset ---- */
* {
	padding:0;
	margin:0;
}

html,
body,
div.container {
	
}

div.container {
	width:auto;
	max-width:480px; /* hala oomadimo ye device ahmagh meta viewpor ro support nakard */
	min-height:800px;
	margin:0 auto;
}

body {
	height:auto;
}

div{
	background-repeat:no-repeat;
	background-position:center center;
}

/* ---- global resset */

/* Errors ---- */
@-webkit-keyframes showErr {
	0% {
		opacity:0;
	}
	80% {
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
div.err{
	display:none;
	opacity:0;
}
div.err a{
	color:white;
}
.preload div.err{
	display:block;
	opacity:1;
	color:white;
	text-align:center;
	font-size:22px;
	margin-top:50px;
	-webkit-animation-name:showErr;
	-webkit-animation-duration:6s;
	-webkit-animation-
}
/* ---- Errors */

/* pc view ---- */

div.container.pc {
	-webkit-box-shadow:0px 0px 30px 5px #888;
}

/* ---- pc view  */

/* fixed headers ---- */
div.fixheader,
div.fixfooter,
div.fixbtmenu {
	position:fixed;
	left:0;
	right:0;
	width:480px;
	margin:0 auto;
	overflow:hidden;
	z-index:2;
}

div.fixheader {
	top:0;
}

div.fixfooter {
	bottom:0;
}
/* ---- fixed headers */
