/*
 * <1Devs dot="com" department="Mobile" />
 *
 * 1Mobs.com - 1Devs Mobile Department.
 *
 * Ahd Mobile WebApp Master Layout
 *
 */
 
@charset "UTF-8";

/* global resset ---- */
* {
	padding:0;
	margin:0;
}

html,
body,
div.container {
	
}
div.container {
	min-height:800px;
	width:auto;
	max-width:480px; /* hala oomadimo ye device ahmagh meta viewpor ro support nakard */
	margin:0 auto;
}

body {
	height:auto;
}

/* ---- global resset */

/* pc view ---- */
div.container.pc {
	position:absolute;
	width:320px;
	height:480px;
	min-height:inherit;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}

div.container.pc > div.sim {
	position:relative;
	width:320px;
	height:480px;
	overflow:hidden;
	-webkit-box-shadow:0px 0px 25px 5px black;
}

/* ---- pc view  */

/* fixed headers ---- */
div.fixheader,
div.fixfooter {
	position:fixed;
	left:0;
	right:0;
	overflow:hidden;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:left top;
	z-index:2;
}

div.pc div.fixheader,
div.pc div.fixfooter {
	position:absolute;
}

div.fixheader {
	top:0;
}

div.fixfooter {
	bottom:0;
}
/* ---- fixed headers */
