/*
 * <1Devs dot="com" department="Mobile" />
 *
 * 1Mobs.com - 1Devs Mobile Department.
 *
 * Ahd Mobile WebApp Framework
 *
 */

@charset "UTF-8";

* {
	padding:0;
	margin:0;
	-webkit-transition:all 700ms ease-in-out;
}

html,
body,
div.container {
	width:auto;
}

body {
	background-color:#eee9d3;
}

div.container.pc {
	position:absolute;
	width:320px;
	height:480px;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}

div.container.pc > div.sim {
	position:relative;
	width:320px;
	height:480px;
	overflow:hidden;
	-webkit-box-shadow:0px 0px 25px 5px black;
}


div.beforload div.fixheader {
	top:-100%;
	opacity:0;
}

div.beforload div.fixfooter {
	bottom:-100%;
	opacity:0;
}

div.fixheader,
div.fixfooter {
	position:fixed;
	left:0;
	right:0;
	overflow:hidden;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:left top;
	z-index:2;
}

div.pc div.fixheader,
div.pc div.fixfooter {
	position:absolute;
}

div.fixheader {
	top:0;
	height:55px;
	opacity:0.95;
	background-image:url('header.jpg');
}

div.fixfooter {
	bottom:0;
	height:55px;
	opacity:0.9;
	background-image:url('footer.jpg');
}

div.beforload div.content {
	opacity:0;
}
div.content {
	margin:55px 0 55px 0;
	-webkit-transition-duration:1500ms;
}
